<!--fonts-->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<!--foundation icons-->
<link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel="stylesheet" type="text/css">
<h1>Listing Articles</h1>
<%= link_to 'New article', new_article_path %>
<div class="container">
  <div class="row">
    <div class="large-10 large-centered columns">


      <table>
        <tr>
          <th>Title</th>
          <th>Text</th>
          <th colspan="3"></th>
        </tr>

        <% @articles.each do |article| %>
          <tr>
            <td><%= article.title %></td>
            <td><%= article.text %></td>
            <td><%= link_to 'Show', article_path(article) %></td>
            <td><%= link_to 'Edit', edit_article_path(article) %></td>
            <td><%= link_to 'Destroy', article_path(article),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </table>



    </div>
  </div>
</div>
